// YOU CAN REMOVE ALL THE REACT STUFF (THEY COME BY DEFAULT WITH BABEL BUT WE DON'T NEED THEM)

{
  "presets": [
    "env",
    "react",
    "stage-0"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-decorators"
  ]
}
